<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="alert alert-success" role="alert">Dummy Order Successfully Placed</div>
    </div>
  </div>
  <div class="text-center">
      <a href="/" class="btn btn-primary">Go Back Home</a>
  </div>
</div>
