<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <div class="col-sm-4 col-sm-offset-4">
        <h1>{{result.title}}</h1>
        <hr/>
        <div class="editsingle">
          <img src="{{result.imagePath}}" alt="Image">
        </div>
        <hr >
        <a type="button" href="/" class="btn btn-success" name="button">Go Back</a>
        <a type="button" href="/users/add-to-cart/{{result._id}}" class="btn btn-success" name="Go Back">Add To Cart</a>
      </div>
    </div>
  </div>
</div>
